@media screen and (min-width: 992px) and (max-width:1320px) {
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

body{
    background-color: #172F62;
}


.top{
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 2%;
}
.logo img{
    width: 20%;
}

.line_section{
    display: flex;
    justify-content: center;
}
.line{
    background-color: rgba(255, 255, 255, 0.5);
    width: 80%;
    height: 1px;
}